body{
    background-color:powderblue;
}

h1{
    color: blue;
    font-family: verdana;
    font-size: 300%;
}

p {
    color:black;
    font-family: courier;
    font-size:160%;
    border: 1px solid orange;
    padding: 30px;
    margin: 50px;
}

#p01 {
    color: navy;
}

p.error {
    color: red;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color:transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}